@import url('https://fonts.googleapis.com/css?family=Anton: 100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald: 100,200,300,400,500,600,700');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
}

p,
textarea {
    font-family: 'Oswald', sans-serif;
}

.TDE {
    background-image: url("../Images/TDE.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    
}
    

    
    
    

/*-----------------HEADER---------------*/

header {
    background: black;
}

.list-inline-item a i:hover {
    color: black;
    background-color: rgba(187, 14, 11, 1);
    transition: all 0.30s ease-in-out;
    border-radius: 2px;
}


.list-inline-item a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    margin: 10px;
}

 
.mobile {
    padding-top: 30px;
}

.mobile-menu-icon {
    width: 32px;
    padding: 0;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    margin: 0px;
}

.mobile-menu  {
    padding: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: all 0.3s ease-in-out;

}

.mobile-menu-item {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgba(187, 14, 11, 1); 
    text-transform: uppercase;
    display: block;
    padding-top: 5px;
    
}



@media (max-width: 767px) {
    .menu {
        display: none;

    }

}

@media (max-width: 767px) {
    .footer-copyright  {
        margin-bottom: 5px;
    }
}



.menuItem {

    list-style: none;
    text-align: center;
    margin-top: relative;
    height: 65px;
    padding: 0%;


}

.menuItem a {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    padding: 0;
    color: #fafafa;
    padding-top: 12px;
    width: 100%;
    height: 65px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;



}

.menuItem span {
    font-size: 30px;
    letter-spacing: 4px;

}


.menuItem a:hover {
    color: black;
}

.hvr-sweep-to-bottom:before {

    background: rgba(187, 14, 11, 1);
    height: 65px;

}


video {
    object-fit: inherit;
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);
    padding: 0;
    margin: 0;
    
}

.section-column {
    padding: 0 50px 50px;
    float: none;
    display: table-cell;
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);
    background-color: black;
    
}

.section-heading {
    text-align: center;
    padding-top: 20px;
    color: #fafafa;
}
    
.description {
    font-size: 20px;
    color: #fafafa;
}



footer {
    background-color: black;
}

.footer-copyright {
    padding-top: 30px;
    color: #fafafa;
}

.footer-copyright i {
    padding-right: 10px;
    
}