/*-----------------GENERAL STYLES---------------*/

@import url('https://fonts.googleapis.com/css?family=Anton: 100,200,300,400,500,600,700|Oswald: 100,200,300,400,500,600,700'); 


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p,
button,
input,
textarea {
    font-family: 'Oswald', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}




/*-----------------ICONS---------------*/

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}


.social-links li {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    margin: 10px;
}


.social-links i {
    color: #fafafa;
    padding:10px;
}


.social-links i:hover {
    color: #000;
    background-color: rgba(187, 14, 11, 1);
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    transition: all .5s ease-in-out;
}


.mobile-menu-icon {
    width: 32px;
    padding: 0;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    margin: 0px;
}



/*-----------------HEADER---------------*/

header {
    background: black;
}

.TDE {
    background-image: url("../Images/TDE.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;

}



.menuItem {
    list-style: none;
    text-align: center;
    margin-top: relative;
    height: 70px;
    width: 100%;
    background-color:#000;
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);


}

.menuItem a {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    padding: 0;
    color: #fafafa;
    background-color: #000;
    padding-top: 12px;
    width: 100%;
    height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;

}

.menuItem span {
    font-size: 24px;
    letter-spacing: 4px;
    

}


.menuItem a:hover {
    color: #000;
}

.hvr-sweep-to-bottom:before {

    background-color: rgba(187, 14, 11, 1);
    height: 70px;
    padding: 0;

}


/*-----------------MOBILE---------------*/

.mobile-menu {
    padding: 0;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;

}

.mobile-menu-item {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    color: #fafafa;
    background-color: rgba(187, 14, 11, 1);
    text-transform: uppercase;
    display: block;
    padding-top: 5px;

}


@media (max-width: 576px) {
    .menu {
        display: none;
    }
}


@media (max-width: 576px) {
    .footer-copyright {
        margin-bottom: 5px;
    }
}



/*-----------------SECTION---------------*/

/*-----HOME*/

video {
    object-fit: inherit;
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);
    padding: 0;
    margin: 0;

}

.section-column {
    padding: 0 50px 50px;
    float: none;
    display: table-cell;
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);
    background-color: black;

}

.section-heading {
    text-align: center;
    padding-top: 20px;
    color: #fafafa;
}

.description {
    font-size: 20px;
    color: #fafafa;
}

/*-----MUSIC*/

section {
    background-color: #000;

    

}

.table {
    text-align: center;
    background-color: #000;
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);
    
}

.table  td {
    vertical-align: middle;
}

.table th {
    vertical-align: middle;
}

.purchase-button {
    background-color:rgba(187, 14, 11, 1); 
    border: 2px solid #fafafa;
    color: #fafafa;
}

.purchase-button:hover {
    background-color: #fafafa;
    color: #000;
    border: 2px solid rgba(187, 14, 11, 1);
    transition: all .5s ease-in-out;
}


/*-----PHOTOS*/

.photo-section {
    background-color: #000;
}

.img-thumbnail {
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);
}

img {
    cursor: pointer;
    width: 100%;
}

/*-----BOOKINGS*/

.form-control {
    border: 2px solid rgba(187, 14, 11, 1);
}


.tour-column {
    background-color: black;
    color: #fafafa;
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);
}

.tour-column a {
    font-family: 'Oswald', sans-serif;
    
}

.tour-heading {
    text-align: center;
    padding-top: 10px;
}

.tour-text {
    font-size: 25px;
}

.tour-button {
    background-color:rgba(187, 14, 11, 1); 
    border: 2px solid #fafafa;
    color: #fafafa;
}

.tour-button:hover {
    background-color: #fafafa;
    color: #000;
    border: 2px solid rgba(187, 14, 11, 1);
    transition: all .5s ease-in-out;
}

.booking-column {
    background-color: #000;
    color:#fafafa;
    box-shadow: 0px 0px 28px 2px rgba(200, 24, 16, 1);
    
}

.booking-heading {
    text-align: center;
    padding-top: 10px;
}

.booking-button {
    width: 100%;
    background-color:rgba(187, 14, 11, 1); 
    border: 2px solid #fafafa;
    color: #fafafa;
    
}

.booking-button:hover {
    background-color: #fafafa;
    color: #000;
    border: 2px solid rgba(187, 14, 11, 1);
    transition: all .5s ease-in-out;
}

/*-----------------FOOTER---------------*/

footer {
    background-color: black;
}

.mobile-footer {
    padding-top: 30px;
}

.footer-copyright {
    padding-top: 30px;
    color: #fafafa;
}

.footer-copyright i {
    padding-right: 10px;

}
