@import url('https://fonts.googleapis.com/css?family=Anton: 100,200,300,400,500,600,700');

.TDE {
    background-image: url("../Images/TDE.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
    position: relative;
}


    

/*-----------------HEADER---------------*/

.list-inline-item a i:hover {
    color: grey;
}


.list-inline-item a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
}



.dropdown-menu {
    padding: 0;
    margin-top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;

}

.dropdown-item {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    color: black;
    text-transform: uppercase;
}


@media (max-width: 767px) {
    .menu {
        display: none;

    }
}



.menuItem {

    list-style: none;
    text-align: center;
    margin-top: 70px;
    height: 65px;
    padding: 0%;


}

.menuItem a {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    padding: 0;
    color: #fafafa;
    padding-top: 22px;
    width: 100%;
    height: 65px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;



}

.menuItem span {
    font-size: 20px;
    letter-spacing: 2px;

}


.menuItem a:hover {
    color: black;
}

.hvr-back-pulse {
    background: rgba(0, 0, 0, 0.2);
    height: 65px;

}


video {
    object-fit: inherit;
}




footer {
    background-color: black;
}
